<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% load static %}

<div class="container text-center">
    <br>
    <br>
    <a href="{% url 'blog'%}"><h2>Blog</h2></a>
    <h1>Poorya mohammadi Nasab</h1>

    <img src="{% static 'portfolio/MyPic.jpeg' %}">
    <br>
    <br>

    {% for project in projects %}
        <br>
        <br>
        <h3>{{project.Title}}</h3>
        <p>{{project.Description}}</p>
        <br>
        {% if project.Url %}
            <br><a href = "{{project.Url}}"> 
            <img src="{{project.Image.url}}" height = 150 >
            </a>
        {% else %}
            <br>
            <img src="{{project.Image.url}}" height = 150 >
        {% endif %}
        <br>

    {% endfor %}
</div>