   {% extends "portfolio/base.html" %}

   {% block content %}
   
    {% load static %}

    <br>
    <br>
    <img src="{% static 'portfolio/logo.png' %}" height="100">
    <h1>Poorya mohammadi Nasab</h1>
    <br>
    <br>
    

    <img src="{% static 'portfolio/MyPic.jpeg' %}" height="200" >
    <br>
    <br>

    {% for project in projects %}
        <br>
        <br>
        <h3>{{project.Title}}</h3>
        <p>{{project.Description}}</p>
        <br>
        {% if project.Url %}
            <br><a href = "{{project.Url}}"> 
            <img src="{{project.Image.url}}" height = 150 >
            </a>
        {% else %}
            <br>
            <img src="{{project.Image.url}}" height = 150 >
        {% endif %}
        <br>

    {% endfor %}

{% endblock %}