<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">
    <br>
    <br>
    <h1>Poorya mohammadi Nasab</h1>

    {% for project in projects %}
        <br>
        <br>
        <h3>{{project.Title}}</h3>
        <p>{{project.Description}}</p>
        <br>
        <img src="{{project.Image.url}}" height = 150 >
        {% if project.Url %}
            <br><a href = "{{project.Url}}"> Link </a>
        {% endif %}
        <br>

    {% endfor %}
</div>