<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">
	<br>
	<br>
	<h1>Blog</h1>
	{% if blogs.count == 1 %}
		<h2>{{blogs.count}} Blog Found</h2>
	{% else %}
		<h2>{{blogs.count}} Blogs Found</h2>
	{% endif %}
	
	{% for blog in blogs %}
		<br>
		<br>
		<a href="{% url 'detail' blog.id %}"><h2>{{blog.Title}}</h2></a>
		<h5>{{blog.Date|date:'Y/M/d'}}</h5>
		<p>{{blog.Description}}</p>
	{% endfor %}
		
</div>
